<template name="CreateContribuicao">
  <section class="content-header">
    <h1>
      <a href="{{pathFor 'contribuicoes.list'}}" class="btn btn-warning">
        <i class="fa fa-backward" aria-hidden="true"></i>  Voltar
      </a>
      Nova Contribuição
      <small>Lançar nova contribuição ao fiel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li class="active">Nova Contribuição</li>
    </ol>
  </section>

  <section class="content">
    {{> quickForm id="insertContribuicaoForm" type="insert" collection="Contribuicoes" buttonContent="Salvar"}}
  </section>
</template>
