<template name="ViewFiel">
  <section class="content-header">
    <h1>
      <a href="{{pathFor 'fieis.list'}}" class="btn btn-warning">
        <i class="fa fa-backward" aria-hidden="true"></i>  Voltar
      </a>

      {{nome}}
      <small>Aqui estão as informações do registro</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li><a href="{{pathFor 'fieis.list'}}"><i class="fa fa-list-alt"></i>Listagem de Fieis</a></li>
      <li class="active"><a href="{{pathFor 'fieis.view' _id}}"><i class="fa fa-male">{{nome}}</i></a></li>
    </ol>
  </section>

  <section class="content">
    {{> quickForm
        collection="Fieis"
        id="viewFielForm"
        doc=this
        type="disabled"}}
  </section>
</template>
