  <template name="ListFiel">
  <section class="content-header">
    <h1>
      Listagem de Fieis
      <small>Aqui você encontra todos os fiéis cadastrados no sistema</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li class="{{pathFor 'fieis.list'}}">Listagem de Fieis</li>
    </ol>
  </section>

  <section class="content">
    <h3>Listagem aqui</h3>
  </section>


  <div class="box">
    <div class="box-header">
    <h3 class="box-title">Listagem dos fieis</h3>

    <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      {{> tabular table=TabularTables.Fieis
        class="table table-hover"}}
    </div>
    </div>
            <!-- /.box-body -->
</div>
</template>
