<template name="UpdateOrganizacao">
  <section class="content-header">
    <h1>
      <a href="{{pathFor 'organizacoes.list'}}" class="btn btn-warning">
        <i class="fa fa-backward" aria-hidden="true"></i>  Voltar
      </a>
      Editar - {{nome}}
      <small>Atualizar os dados informados no registro</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li><a href="{{pathFor 'organizacoes.list'}}"><i class="fa fa-list-alt"></i>Listagem de Organizações</a></li>
      <li><a href="{{pathFor 'organizacoes.view' _id}}"><i class="fa fa-male">{{nome}}</i></a></li>
      <li class="active"> <a href="{{pathFor 'organizacoes.edit' _id}}"><i class="fa fa-edit">Editar</i></a></li>
    </ol>
  </section>

  <section class="content">
    {{#autoForm id="updateOrganizacaoForm" type="update" doc=this collection="Organizacoes"}}
      {{> afQuickField name="nome"}}
      {{> afQuickField name="tipo"}}
      {{#if afFieldValueIs name="tipo" value="DIOCESE"}}
        {{> afQuickField name="dataFundacao"}}
        {{> afQuickField name="dataFixacao"}}
        {{> afQuickField name="cnpj"}}
        {{> afQuickField name="ie"}}
        {{> afQuickField name="dependentes"}}
      {{/if}}
      {{#if afFieldValueIs name="tipo" value="PAROQUIA"}}
        {{> afQuickField name="dataFundacao"}}
        {{> afQuickField name="dataFixacao"}}
        {{> afQuickField name="cnpj"}}
        {{> afQuickField name="ie"}}
        {{> afQuickField name="dependentes"}}
        {{> afQuickField name="coordenadora"}}
      {{/if}}
      {{#if afFieldValueIs name="tipo" value="COMUNIDADE"}}
        {{> afQuickField name="coordenadora"}}
        {{> afQuickField name="dataFundacao"}}
        {{> afQuickField name="dataFixacao"}}
      {{/if}}
      {{> afQuickField name="endereco"}}
      <div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </div>
    {{/autoForm}}
  </section>
</template>
