<template name="Login">
    <div class="container">
      <form class="form-signin" id="formLogin">
        <h2 class="form-signin-heading">Autenticação</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input id="inputEmail" class="form-control"
               placeholder="Informe seu e-mail aqui"
              required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input id="inputPassword" class="form-control" placeholder="Digite sua senha" required="" type="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
    </div>
</template>
