<template name="ListContribuicao">
  <section class="content-header">
    <h1>
      Relação de Contribuições
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li class="active"> <a href="{{pathFor 'contribuicoes.list'}}"><i class="fa fa-list-alt"></i>Listagem de Contribuições</a></li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">
                Aqui você encontra todas as contribuições lançadas.
                <a href="{{pathFor 'contribuicoes.create'}}" role="button" class="btn btn-primary">Criar novo</a>
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                  <div class="col-sm-12" style="margin-bottom: 1%">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {{> tabular table=TabularTables.Contribuicoes
                      class="table table-hover"}}
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
  </section>
</template>

<template name="contribuicaoOperationCell">
  <a href="{{pathFor 'contribuicoes.edit' _id}}" class="fa fa-edit"></a>
  <a href="{{pathFor 'contribuicoes.view' _id}}" class="fa fa-eye"></a>
</template>
