<template name="UpdateUsuario">
  <section class="content-header">
    <h1>
      <a href="{{pathFor 'users.list'}}" class="btn btn-warning">
        <i class="fa fa-backward" aria-hidden="true"></i>  Voltar
      </a>
      Novo Usuário
      <small>Cadastrar novos usuários no sistema.</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-dashboard"></i>Home</a></li>
      <li class="active">Cadastro de Usuários</li>
    </ol>
  </section>

  <section class="content">
    <!--{{> quickForm id="insertUserForm" type="method" meteormethod="addUser"
    schema="SchemaUsuarios" buttonContent="Enviar"}}-->
    <h1>Para fazer.....</h1>
    {{#autoForm id="updateUserForm" doc=this schema="SchemaUsuarios" type="method-update" meteormethod="updateUser"}}

        {{> afQuickField name="email" value="lhleonardo@hotmail.teste"}}
        <div>
          <button type="submit" class="btn btn-primary">Atualizar</button>
          {{#quickRemoveButton class="btn btn-danger" collection="Meteor.users" _id=this._id}}Excluir este registro{{/quickRemoveButton}}
        </div>
    {{/autoForm}}
  </section>
</template>
